[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
djangorestframework = "*"
"beautifulsoup4" = "*"
requests = "*"
django-filter = "*"

[dev-packages]

[requires]
python_version = "3.6.5"
