{% extends "base.html" %}
{% block body %}
{% include 'navbar.html' %}
    <div class="uk-container">
        <div class="uk-grid-medium" uk-grid>
            {% if search_string %}
            <div class="uk-width-1-1">
                <h3>Showing results for: {{ search_string }}</h3>
            </div>   
            {% endif %}
            {% if movies %}
                {% for movie_info in movies %}
                    <div class="uk-margin-medium-left uk-margin-medium-top uk-margin-medium-bottom">
                        <div class="uk-card uk-card-default">
                            <div class="uk-card-header">
                                <div class="uk-grid-small uk-flex-middle uk-grid" uk-grid>
                                    <div class="uk-width-auto uk-first-column">
                                        <img data-src="{{movie_info.thumbnail_url}}" uk-img>
                                    </div>
                                </div>
                            </div>
                            <div class="uk-card-body">
                                <p>{{ movie_info.name }}</p>  
                            </div>
                            <div class="uk-card-footer">
                                <a href="{% url 'movie-detail' id=movie_info.id %}" class="uk-button uk-button-text">Details</a>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            {% else %}
                <div class="uk-width-1-1">
                    <h3>No movies to show</h3>
                </div>   
            {% endif %}
        </div>
    </div>
{% endblock %}
